* {
    font-family: Helvetica, Calibri, Dejavu sans, tahoma, sans-serif;
}

nav ul {
    list-style-type: none;
}

nav ul li {
    display: inline;
    margin: 2px 8px;
}

nav ul li a {
    padding: 3px 6px;
    border: 1px solid transparent;
    color: #555;
    transition: border .25s linear 0s, color .25s linear 0s;
}

nav ul li a:hover {
    border: 1px solid gray;
    color: black;
}

div.content {
    text-align: left;
}

table {
    border-collapse: collapse;
}

table td {
    border-collapse: collapse;
    border: 1px solid #333;
    padding: 3px;
}

@media only screen and (min-width: 768px) {
    div.container {
        width: 50%;
        margin: auto;
    }
}

@media only screen and (max-width: 1025px) {
    div.container {
        width: 95%;
        margin: auto;
    }
}